header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
  }
  
  h1 {
    font-size: 2em;
    color: #333;
  }
  
  nav {
    ul {
      display: flex;
      list-style: none;
      
      li {
        margin-left: 15px;
        
        a {
          text-decoration: none;
          color: #333;
          font-size: 1.2em;
          
          &:hover {
            color: #bb0101;
          }
        }
      }
    }
  }
  