footer
        p ©2023 TubeFastVide
        ul
            li
            a(href="#") Acerca de
            li
            a(href="#") Contacto
            li
            a(href="#") Términos de servicio
            li
            a(href="#") Política de privacidad
